{% extends 'base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
	<div id="admin"></div>
{% endblock %}
